<html>
<head>
    <title>Clima</title>
</head>
<body>
    <p>
        <a href='/'>Home</a>
        <a href='/contato'>Contato</a>
        <a href='/noticias'>Noticias</a>
        <a href='/clima'>Clima</a>
    </p>
    <h1>Preencha suas informações</h1>
    
    <form action="/clima" method="POST">
        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" name="cidade" required><br><br>
        <input type="submit" value="Enviar">
    </form>
    {% if temperatura %}
        <p>Temperatura: {{ temperatura }}°C</p>
    {% endif %}
    {% if error %}
        <p>Error: {{ error }}</p>
    {% endif %}
</body>
</html>
