<html>
<head><meta charset="UTF-8"></head>
<body>
    <p>
        <a href='/'>Home</a>
        <a href='/contato'>Contato</a>
        <a href='/noticias'>Noticias</a>
        <a href='/clima'>Clima</a>
    </p>
    <div class="container">
        <h2>Confira as notícias mais lidas da Veja neste momento!</h2>
        <br>
        {% for manchete in resultado.split('\n\n') %}
        {% set partes = manchete.split('\n') %}
        <p><b>{{ partes[0] }}</b><br><a href="{{ partes[1] }}">Clique aqui para ler a notícia completa.</a></p>
        {% endfor %}
    </div>
</body>
</html>