<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css"
    <title>Bora pra Praia!</title>
</head>
<body>
    <h1>Bora pra Praia!</h1>
    <p></p>
    <div>
        <h2>Bora pra qual cidade?</h2>
        <span> Atualmente nosso sistema retorna informações do clima, das ondas com base no nome da cidade onde está a praia.</span><br>
        <label>Cidade:</label>
        <input type="text" id="" name="" required>
        
    <div>
        <h2>Saiba se a praia que você quer ir está própria para banho, a seguir:</h2>
        <label>
        <input>
        </label>
    </div>

</body>
</html>