<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Bora pra Praia!</title>
</head>
<header>
    <h1>Bora pra Praia! 😎</h1>
</header>
<body>
    <p></p>
    <div class="container-cidade">
        <h2>Qual cidade fica a praia?</h2>
        <span> Atualmente nosso sistema retorna informações do clima, das ondas com base no nome da cidade onde está a praia.</span><br>
        <form action="/enviar" method="POST">
            <label>Cidade:</label>
            <input type="text" id="cidade" name="cidade" required>
            <input type="submit" value="Bora">
        </form>
    <div class="container-praia">
        <h2>Saiba se a praia que você quer ir está própria para banho, a seguir:</h2>
        <label>Insira o nome da Praia:
        <input type="text" id="cidade" name="cidade" required>
        <input type="submit" value="Bora">
        </label>
    </div>

</body>
</html>